@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

html {
    font-size: 15px;
}

* {
    /* border: 1px dotted grey; */
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.33rem;
    margin-bottom: 1.08rem;
}

h1, h2 {
    color: hsl(234, 12%, 34%);
}

p {
    color: hsl(229, 6%, 66%);
}

h1 span:first-of-type {
    font-weight: 200;
    margin-bottom: -0.05rem;
}

h1 span {
    display: block;
    text-align: center;
}

#header p {
    width: 34.33rem;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 1.3rem;
    margin: 0;
}

#content p {
    font-size: 0.85rem;
    margin-top: 0.45rem;
    line-height: 1.5rem;
}

.feature {
    border: 1px solid red;
    width: 23rem;
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.feature::before {
    content: '';
    position: absolute;
    height: 0.3rem;
    width: 100%;
    top: 0;
    left: 0;
}

.cyan::before {
    background-color: hsl(180, 62%, 55%);
}

.red::before {
    background-color: hsl(0, 78%, 62%);
}

.orange::before {
    background-color: hsl(34, 97%, 64%);
}

.blue::before {
    background-color: hsl(212, 86%, 64%);
}

#content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 4.17rem;
}

.single {
    align-self: center;
}

.double .feature:first-of-type {
    margin-bottom: 2rem;
}

.feature img {
    margin-top: 2.5rem;
    display: block;
    margin-left: auto;
}